<template>
	<div id="content">
		<div 
			:class="['dropzone-area', dragging ? 'dropzone-over' : '']" 
			@dragenter="dragging=true" 
			@dragleave="dragging=false"
		>
			<div class="dropzone-text">
				<span class="dropzone-title">Drop images here or click to select</span>
				<br/>
				<span class="dropzone-subtitle">Only images allowed and cannot be larger than 4mb</span>
			</div>
			<input type="file" accept="image/*" multiple @change="onFileChange" tabindex="-1">
		</div>

		<div id="imagePreviewWrapper">
			<img id="imagePreview" v-for="(file, index) in filesPreview" v-bind:key="index" :src="file">
		</div>
		<div id="buttons">
			<b-button @click="clearFiles" class="mr-2" variant="danger">Reset files</b-button>
			<b-button :disabled="disableButton" @click="uploadFiles" class="mr-2" :variant="disableButton ? 'secondary' : 'primary'">Upload files</b-button>
		</div>

		<b-progress v-if="progressBar.upload" :value="progressBar.uploadProgress" :max="progressBar.uploadMax" show-progress animated></b-progress>
		<br/><br/>
		<b-alert v-if="successMessage" variant="success" show dismissible>{{successMessage}}</b-alert>
		<b-alert v-if="errorMessage" variant="danger" show dismissible>{{errorMessage}}</b-alert>

	</div>
</template>

<script>
import {uploadImages} from '../util/firebase'

export default {
	name: 'GalleryUpload',
	data() {
		return {
		files: [],
			filesPreview: [],
			dragging: false,
			progressBar: {
				upload: false,
				uploadProgress: 0,
				uploadMax: 100
			},
			successMessage: "",
			errorMessage: "",
			totalImagesUploaded: 0,
			imagesUploadedError: ""		
		}
	},
	watch: {
		files(newFile) {
			this.filesPreview = []
			if(newFile !== null) {
				newFile.map(file => {
					this.filesPreview.push(URL.createObjectURL(file))
				})
			}
		}
	},
	computed: {
		disableButton() {
			return this.files.length > 0 ? false : true
		},
	},
	methods: {
		clearFiles() {
			this.files = []
		},
		setMessage(message, type) {
			if(type === "error") {
				this.errorMessage = message
				setTimeout(() => this.errorMessage = "", 5000)
			} else {
				this.successMessage = message
				setTimeout(() => this.successMessage = "", 3000)
			}
		},
		onFileChange(e) {
			this.dragging = !this.dragging
			Object.values(e.target.files).map(file => {
				// check file size and if is an image
				const fileSize = file.size < (4 * 1024 * 1024) 
				if(fileSize && file.type.includes("image")) {
					this.files.push(file)
				} else if(!fileSize){
					this.setMessage("Images has to be less than 4mb", "error")
				} else {
					this.setMessage("Only images allowed", "error")
				}
			})
		},
		uploadFiles() {
			if(this.files.length > 0) {
				this.progressBar.upload = true
				let promiseArray = []

				this.files.map(file => {
					// monitor upload status
					promiseArray.push( new Promise ((resolve, reject) => {

						uploadImages(file).on("state_changed", (snapshot) => {
							this.progressBar.uploadProgress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
						}, (err) => {
							// there was an error
							reject(this.imagesUploadedError = JSON.parse(err.serverResponse).error)
						}, () => {
							// upload was successfull
							resolve(this.totalImagesUploaded += 1)
						})
					}))
				})


				Promise.all(promiseArray)
				.finally(() => {
					if(this.files.length === this.totalImagesUploaded) {
						this.setMessage("Images have been successfully uploaded", "success")
					} else if (this.totalImagesUploaded !== 0){
						this.setMessage(this.totalImagesUploaded + " / " + this.files.length + " images have been successfully uploaded", "success")
					} else {
						this.setMessage("Something unexpected happened, try again", "error")
					}

					this.files = []
					this.progressBar.upload = false
					this.dragging = false
					this.totalImagesUploaded = 0
					this.imagesUploadedError = ""
				})
				.catch(err => {
					this.setMessage(err.message, "error")
				})

			}
		}
	}
}

</script>

<style>
#content {
	padding: 20px;
}

.dropzone-title {
	font-size: 20px;
	font-weight: bold;
}

.dropzone-subtitle {
	font-size: 15px;
	font-weight: 100;
}

.dropzone-over {
	border: 3px solid red !important;
}

.dropzone-area {
    width: 100%;
    height: 200px;
    position: relative;
    border: 2px dashed #CBCBCB;
}

.dropzone-area input {
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.dropzone-text {
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translate(0, -50%);
    width: 100%;
}

#imagePreviewWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
    margin: 15px auto;
}

#imagePreview {
	object-fit: cover;
	width: 150px;
	height: auto;
}

#buttons {
	text-align: center;
}
</style>