<template>
    <div>
        <h1>THIS IS YOUR IMAGE GALLERY</h1>
		<div id="imageContainerWrapper">
			<a :href="link.originalURL" target="_blank" v-for="(link, index) in links" v-bind:key="index">
				<img id="image" :src="link.thumbnailURL">
			</a>
		</div>

		<b-button :disabled="disableButton" @click="getImages" class="mr-2" variant="danger">Get more images</b-button>

    </div>
</template>

<script>
import {retrieveImages, limitImages} from '../util/firebase'

export default {
	name: 'Gallery',
	data() {
		return {
			links: [],
			lastLink: null,
			disableButton: false,
		}
	},
	mounted() {
		this.getImages()
	},
	methods: {
		getImages() {
			retrieveImages(this.lastLink)
				.then((snapshot) => {
					this.lastLink = snapshot.docs[snapshot.docs.length -1]
					if(snapshot.docs.length !== limitImages) {
						this.disableButton = true
					}
					snapshot.forEach(doc => {
						this.links.push(doc.data())
					})
				})
				.catch((err) => {
					console.log("firebase err: " + err)
					this.disableButton = true
				})
		}
	}
}

</script>

<style>
#imageContainerWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
    margin: 15px auto;
}
#image {
	object-fit: cover;
	width: 150px;
	height: auto;
}
</style>
