<template>
	<div id="login-content">
		<b-card id="login-card" text-variant="white">

<!-- 			<b-form v-on:submit.prevent="onSubmit">
				<b-form-group
					id="input-group-1"
					label="Email address:"
					label-for="input-1"
					>
					<b-form-input
						id="input-1"
						v-model="form.email"
						type="email"
						required
						placeholder="Enter email"
						autocomplete="off"
					>
					</b-form-input>
				</b-form-group>

				<b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
					<b-form-input
						id="input-2"
						v-model="form.name"
						required
						placeholder="Enter name"
						autocomplete="off"
					>
					</b-form-input>
				</b-form-group>

				<b-form-group id="input-group-3" label="Your Password:" label-for="input-3">
					<b-form-input
						id="input-3"
						v-model="form.password"
						type="password"
						required
						:state="validatePassword"
						placeholder="Enter Password"
					>
					</b-form-input>

					<b-form-invalid-feedback id="input-group-3-feedback">
						Enter at least 6 characters
					</b-form-invalid-feedback>

				</b-form-group>

				<b-form-group id="input-group-4" label="Repeat Password:" label-for="input-4">
					<b-form-input
						id="input-4"
						v-model="form.password2"
						type="password"
						required
						:state="validatePassword2"
						placeholder="Repeat Password"
					>
					</b-form-input>

					<b-form-invalid-feedback id="input-group-4-feedback">
						Passwords do not match
					</b-form-invalid-feedback>

				</b-form-group>

				<b-button v-bind:class="validateForm ? '' : 'disabled'" type="submit" variant="primary">Primary</b-button>

			</b-form>
			<br>
			<div v-if="errorMessage" id="error-message">{{errorMessage}}</div> -->

			<div id="firebaseui-auth-container"></div>
			<div id="loader">Loading...</div>
		</b-card>
	</div>
</template>

<script>
	import {firebaseUI} from '../util/firebase'

	export default {
		name: 'Login',
		data() {
			return {
				form: {
					email: "",
					name: "",
					password: "",
					password2: ""
				},
				errorMessage: ""
			}
		},
		mounted() {
			firebaseUI()
		},
		methods: {
			onSubmit() {
			}
		},
		computed: {
			// validatePassword() {
			// 	if(this.form.password.length === 0) {
			// 		return null
			// 	} else if(this.form.password.length > 6) {
			// 		return true
			// 	} else {
			// 		return false
			// 	}
			// },
			// validatePassword2() {
			// 	if(this.form.password2.length === 0) {
			// 		return null
			// 	} else if(this.form.password2 === this.form.password) {
			// 		return true
			// 	} else {
			// 		return false
			// 	}
			// },
			// validateForm() {
			// 	return this.validatePassword && this.validatePassword2 ? true : false
			// },
			// resetForm() {
			// 	let self = this
			// 	return Object.keys(this.form).map((key) => {
			// 		self.form[key] = ""
			// 	})
			// }
		}
	}

</script>

<style>
#login-card {
	background-image: url("../assets/login-form-background.jpg");
	background-position: center;
	background-size: cover;
	width: 25rem;
}
#login-content {
	padding: 40px;
	display: flex;
	justify-content: center;
}
#error-message {
	color: red;
}
@media screen and (max-width: 600px) {
	#login-card {
		width: 20rem;
	}
	#login-content {
		padding: 20px;
	}
}
</style>
