<template>   
	<div>
		<img id="not-found" src="../assets/not-found.jpg">
		<h3 id="description">The page you were looking was not found click <router-link to="/"><b>Home</b></router-link> to get back to home page</h3>
	</div>
</template>

<script>

export default {
    name: 'NotFound',
}

</script>

<style>
#not-found {
	width: 100%;
}
#description {
	text-align: center;
}
</style>
