<template>
	<div>
		<b-navbar toggleable="sm" type="dark" variant="dark">
			<b-navbar-brand to="/">
				<img id="logo" src="../assets/logo.png" alt="logo">
			</b-navbar-brand>

			<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

			<b-collapse id="nav-collapse" is-nav>
				<!-- Right aligned nav items -->
				<b-navbar-nav class="ml-auto">
					<b-navbar-nav v-if="!loading">
						<b-nav-item to="/">Home</b-nav-item>
						<b-nav-item v-if="!isLoggedIn" to="/login">Login</b-nav-item>

						<b-nav-item v-if="isLoggedIn" to="/gallery">Gallery</b-nav-item>
						<b-nav-item v-if="isLoggedIn" to="/gallery/upload">Upload Image</b-nav-item>
						<b-nav-item v-if="isLoggedIn" to="/profile">Profile</b-nav-item>
						<b-nav-item v-if="isLoggedIn" to="/" v-on:click="logout">Logout</b-nav-item>
					</b-navbar-nav>
				</b-navbar-nav>
			</b-collapse>
		</b-navbar>
	</div>
</template>

<script>
import {isUserAuthenticated, logout} from '../util/firebase'

	export default {
		name: 'Navbar',
		data() {
			return {
				isLoggedIn: false,
				loading: true
			}
		},
		mounted() {
			isUserAuthenticated()
				.then((success) => {
					this.isLoggedIn = true
					this.loading = false
					console.log(success)
				})
				.catch((error) => {
					this.isLoggedIn = false
					this.loading = false
					console.log(error)
				})
		},
		methods: {
			logout() {
				this.isLoggedIn = false
				this.loading = true
				logout()
				this.loading = false
			}
		}
	}

</script>

<style>
#logo {
	height: 40px;
	margin: -10px;
}
</style>
