<template>
	<div>
		<Navbar></Navbar>
		<router-view></router-view>
	</div>
</template>

<script>
	import Navbar from './components/Navbar.vue'

	export default {
		name: 'app',
		components: {
			Navbar
		},
		mounted() {
		}
	}
</script>

<style>

</style>
